---
- name: Check fabric present
  ansible.builtin.stat:
    path: /usr/local/bin/fabric-{{ fabric.version }}
  register: fabric_bin

- name: Install fabric
  become: true
  changed_when: true
  ansible.builtin.shell:
    executable: /usr/bin/bash
    cmd: |
      set -eu pipefail
      curl -sSL -O https://github.com/danielmiessler/fabric/releases/download/{{ fabric.version }}/fabric_Linux_i386.tar.gz
      tar -xzf fabric_Linux_i386.tar.gz fabric
      install -m 555 fabric /usr/local/bin/fabric-{{ fabric.version }}
      ln -sf /usr/local/bin/fabric-{{ fabric.version }} /usr/local/bin/fabric
      rm fabric_Linux_i386.tar.gz
  when: not fabric_bin.stat.exists
