---
- name: Check ollama present
  ansible.builtin.stat:
    path: /usr/local/bin/ollama-{{ ollama.version }}
  register: ollama_bin

- name: Install ollama
  become: true
  changed_when: true
  ansible.builtin.shell:
    executable: /usr/bin/bash
    cmd: |
      set -eu pipefail
      curl -sSL -O  https://github.com/ollama/ollama/releases/download/{{ ollama.version }}/ollama-linux-amd64.tgz
      mkdir ./ollama
      tar -xzf ollama-linux-amd64.tgz -C ./ollama
      install -m 555 ./ollama/bin/ollama /usr/local/bin/ollama-{{ ollama.version }}
      ln -sf /usr/local/bin/ollama-{{ ollama.version }} /usr/local/bin/ollama
      rm ollama-linux-amd64.tgz
      rm -rf ./ollama
  when: not ollama_bin.stat.exists
